body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 256px;
    height: 256px;
    background: blue;
    display: flex;
    flex-wrap: wrap;
}
.pixel{
    box-sizing: border-box;
}